@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,300;1,400;1,500&display=swap');

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.index {
    color: white;
    background-color: black;


    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        align-items: center;
        padding: 16px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    header img {
        width: 600px;
        height: 600px;
        border-radius: 50%;
        border: 5px solid white;
    }

    .center {
        text-align: center;
        
    }

    h1 {
        text-align: center;
        color: yellow;
        padding: 10px;
    }

    h2 {
        text-align: center;
        padding: 10px;
    }

    h3 {
        text-align: center;
        color: yellow;
        padding: 10px;

    }

    .container {
        padding: 0px 50px;
    }

    nav a:hover {
        color: yellow;
    }

}


.contact {
    color: white;
    background-color: black;


    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        align-items: center;
        padding: 16px;
    }

    h1 {
        text-align: center;
        color: yellow;
    }

    a {
        color: white;
        text-decoration: none;
    }

    footer {
        margin: 2px;
        text-align: center;
        padding: 10px;
    }

    footer p {
        margin: 2px;
        padding: 16px;
    }

    .email {
        color: yellow;
    }

    header img {
        width: 400px;
        height: 400px;
    }

    nav a:hover {
        color: yellow;
    }
}

.contact1 {
    text-align: center;
}

.project {
    color: white;
    background-color: black;


    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        align-items: center;
        padding: 16px;
    }

    h1 {
        text-align: center;
        color: yellow;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .project1 {
        text-align: center;
    }

    nav a:hover {
        color: yellow;
    }

    header img {
        width: 400px;
        height: 400px;
    }

    footer {
        margin: 2px;
        text-align: center;
        padding: 16px;
    }

    footer img {
        width: 50px;
        height: 50px;
    }

    footer a {
        margin: 20px;
        text-align: center;
    }

}

@media (max-width:785px) {
    .index {
        color: white;
        background-color: black;


        ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            align-items: center;
            padding: 16px 20px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        header img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 5px solid white;
        }

        .center {
            text-align: center;
        }

        h1 {
            text-align: center;
            color: yellow;
            padding: 10px;
        }

        h2 {
            text-align: center;
            padding: 10px;
        }

        h3 {
            text-align: center;
            color: yellow;
            padding: 10px;

        }

        .container {
            padding: 0px 50px;
        }

        nav a:hover {
            color: yellow;
        }

    }


    .contact {
        color: white;
        background-color: black;


        ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            align-items: center;
            padding: 16px;
        }

        h1 {
            text-align: center;
            color: yellow;
        }

        a {
            color: white;
            text-decoration: none;
        }

        footer {
            margin: 2px;
            text-align: center;
            padding: 10px;
        }

        footer p {
            margin: 2px;
            padding: 16px;
        }

        footer h7 {
            margin-top: 5px;
            padding: 16px;
        }

        footer h8 {
            margin-top: 5px;
            padding: 16px;
        }

        .email {
            color: yellow;
        }

        header img {
            width: 200px;
            height: 200px;
        }

        nav a:hover {
            color: yellow;
        }
    }

    .contact1 {
        text-align: center;
    }

    .project {
        color: white;
        background-color: black;



        ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            align-items: center;
            padding: 16px;
        }

        h1 {
            text-align: center;
            color: yellow;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .project1 {
            text-align: center;
        }

        nav a:hover {
            color: yellow;
        }

        header img {
            width: 200px;
            height: 200px;
        }

        footer img {
            width: 50px;
            height: 50px;
        }

        footer {
            display: flex;
            justify-content: center;
        }

        footer a {
            margin: 20px;
            text-align: center;
        }

        footer p {
            margin-top: 2px;
        }

    }
}