antiorm==1.2.1
backports.entry-points-selectable==1.1.1
db==0.1.1
db-sqlite3==0.0.1
distlib==0.3.3
docutils==0.18.1
filelock==3.4.0
gunicorn==22.0.0
lxml==4.8.0
numpy==1.22.4
packaging==24.1
pandas==1.4.2
platformdirs==2.4.0
pygame==2.1.2
Pygments==2.10.0
pyodbc==4.0.32
pypiwin32==223
PyQt6==6.3.0
PyQt6-sip==13.3.1
PySide2==5.15.2.1
PySimpleGUI==5.0.6
python-dateutil==2.8.2
pytils==0.4.1
pytz==2022.1
pywin32==302
shiboken2==5.15.2.1
six==1.16.0
somepackage==1.2.3
tools==0.1.9
virtualenv==20.10.0
